/*
*
*
*
*
*
*
*
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700&subset=latin,cyrillic);
/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
/* === normalize === */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
}
/* == ALL == */
html {
    background: url('img/all/NOISE.png') repeat #dbdad5;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: url('img/all/body-bg-1.png') no-repeat top center;
    margin: 0;
    padding: 0;
}
div,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-main {
    width: 972px;
    margin: 0 auto;
}
.l-bigcontent {
    width: 730px;
    margin: 0 auto;
}
.l-content {
    width: 615px;
    margin: 0 auto;
}
a {
    color: #8d8d8d;
}
a:hover,
a:link {
    color: #0584cb;
}
p,
li {
    color: #7a7a7a;
    font-weight: lighter;
    text-rendering: geometricPrecision;
}
.triangles-content-top {
    position: absolute;
    top: -30px;
    left: -35px;
    width: 74px;
    height: 48px;
    background: url('img/all/triangles-content-top.png') no-repeat 0 0;
}
.triangles-content-bottom {
    position: absolute;
    bottom: -30px;
    right: -50px;
    width: 58px;
    height: 53px;
    background: url('img/all/triangles-content-bottom.png') no-repeat 0 0;
}
.left-column {
    float: left;
    width: 48%;
    margin-right: 2%;
}
.right-column {
    float: right;
    width: 48%;
    margin-left: 2%;
}
.main-words {
    color: #f7941d;
    text-transform: uppercase;
    font-weight: bold;
}

/* == HEADER == */
header .b-logo {
    float: left;
    width: 202px;
}
header .b-menu {
    float: left;
    width: 630px;
    margin: 23px 0 0 14px;
}
header .b-menu h1 {
    color: #0584CB;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 1px;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
header .b-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header .b-menu ul li {
    float: left;
    padding: 0 13px 0 0;
}
header .b-menu ul li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #7A7A7A;
}
header .b-menu ul li a:hover {
    color: #0584cb;
}
header .b-menu ul li.active a,
header .b-menu ul li.current a {
    color: #0584cb;
    text-decoration: none;
    cursor: default;
}
header .b-menu ul li:last-child {
    padding: 0;
}
header .b-fondlogo {
    width: 114px;
    float: right;
}

/* == COUNTER == */
.b-counter {
    margin: 40px 0 0;
}
.b-counter > div {
    background: url('img/counter/bg_all.png') repeat-x scroll 0 0px;
    margin: 0 auto;
    width: 287px;
    line-height: 1.1em;
    padding: 3px 0;
}
.b-counter-count {
    font-family: Courier;
    font-size: 23px;
    font-style: normal;
    letter-spacing: 7px;
    vertical-align: middle;
    width: 125px;
    padding-left: 6px;
}
.b-counter-text {
    color: white;
    font-size: 13px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 7px;
}

/* == FOOTER == */
footer {
    margin: 40px 0 0 0;
}
.b-social {
    float: left;
    width: 300px;
}
.b-copy {
    color: #7E7E7E;
    float: left;
    font-size: 12px;
    width: 400px;
}
.b-sponsor {
    float: right;
    width: 250px;
    text-align: right;
}



/*
-------------------------------
          pages
-------------------------------
*/
/* == main-page == */
body.home-page {
    background: url('img/main/body-bg.png') no-repeat center top;
}
.home-page .l-main {
    background: url("img/main/juravlik.png") no-repeat 551px 371px  transparent;
}
.b-mainpage-link {
    background: url("img/main/triangles.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    height: 350px;
    margin-top: -80px;
    padding: 130px 0 0;
    text-align: center;
}
.b-mainpage-link p {
    margin: 0;
    padding: 0;
    color: #fff;
}
.b-mainpage-link-a {
    text-transform: lowercase;
    font-size: 34px;
    margin: 4px 0 4px 81px !important;
    font-weight: lighter;
    letter-spacing: 5px;
}
.b-mainpage-link-a a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: inherit;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.b-mainpage-link-a a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}
.b-mainpage-link-desc {
    font-size: 20px;
    margin: 5px 0 0 24px !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    letter-spacing: 3px;
}
.b-mainpage-link-desc > a {
    color: #FFFFFF;
    text-decoration: none;
}
.b-mainpage-text {
    color: #7A7A7A;
    font-size: 13px;
    margin: 40px 0 0;
    width: 536px;
    line-height: 14px;
}
.b-mainpage-text > div p {
    margin: 0 0 5px;
}
.b-mainpage-text-link {
    text-align: center;
    text-transform: uppercase;
}

/* == about_project == */
body.about_project-page {
    background: url('img/about_project/body-bg.png') no-repeat center top;
}
.b-about_project-text {
    position: relative;
    font-size: 14px;
}
.b-about_project-text p {
    margin: 0 0 10px 0;
}
.b-about_project-text li {
    list-style-image: url('img/all/li-dot.png');
}
.b-about_project-link {
    background: url("img/about_project/triangles.png") no-repeat scroll center center transparent;
    color: #ffffff;
    height: 172px;
    padding: 70px 0 0;
    text-align: center;
}
.b-about_project-link a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.b-about_project-link-a {
    font-weight: lighter;
    font-size: 24px;
    text-rendering: geometricPrecision;
    margin: 0;
    color: #ffffff;
}
.b-about_project-link-a a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.b-about_project-link-a a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

/* == about_fond == */
.b-about_fond-text {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    padding: 0 12px;
}
.b-about_fond-text p{
    margin: 0 0 5px 0;
}
.b-about_fond-link {
    background: url("img/about_fond/triangles.png") no-repeat scroll center bottom transparent;
    color: white;
    height: 213px;
    padding: 64px 0 0;
    text-align: center;
    width: 419px;
    margin-left: 304px;
}
.b-about_fond-link h3 {
    color: #7A7A7A;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -52px;
    margin-bottom: 62px;
    margin-left: 48px;
    letter-spacing: 1px;
}
.b-about_fond-link a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.b-about_fond-link-a {
    color: white;
    font-size: 17px;
    margin: 0 0 0 32px;
    text-rendering: geometricPrecision;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.b-about_fond-link-desc {
    margin: 3px 0 0 0;
    font-size: 13px;
    letter-spacing: 1px;
}
.b-about_fond-link-a a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.b-about_fond-link-a a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

/* == payment == */
.b-payment {
    background: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 10px 0 75px;
    position: relative;
}
.b-payment-form-color a {
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    margin: 0 1px;
}
.b-payment-form-color a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
}
.b-payment-form-color a.selected span {
    border: 1px solid #aaa;
}
.b-payment input[type="radio"] {
    margin: 0 5px 0 1px;
}
.b-payment label {
    color: #8D8D8D;
    text-decoration: underline;
    line-height: 21px;
}
.b-payment form {
    padding: 20px 27px 50px;
}
.b-payment .right-column input {
    margin: 0 0 10px;
    width: 200px;
    border: 1px solid #167EAC;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
#platData {
    width: 300px;
}
.b-payment h1 {
    color: #2A8BB7;
    font-weight: 100;
    text-align: center;
    margin: 0 0 15px;
    font-size: 24px;
}
.b-payment-form-count {
    padding: 31px 0 115px 250px;
    background: url('img/payment/juravlik.png') no-repeat left center;
}
.b-payment-form-count div {
    background: url('img/payment/counter.jpg') no-repeat right;
    padding: 0px 0 0px 4px;
    width: 377px;
    position: relative;
    height: 57px;
}
#itSumm {
    text-align: right;
    width: 133px;
    color: #8D8D8D;
    font: normal 37.58px Courier;
    float: right;
    margin-right: 40px;
    background: none;
    border: none;
    height: 93%;
}
#itCount {
    font: normal 37.58px Courier;
    color: #8D8D8D;
    border: none;
    background: none;
    height: 100%;
}
.b-payment-form-middle {
    margin-top: -70px;
    margin-bottom: 20px;
}
.b-payment-form-color {
    color: #2A8BB7;
    margin-left: 90px;
    width: 210px;
    float: left;
    margin-top: 36px;
    font-size: 20px;
}
.b-payment-form-message {
    background: url('img/payment/message.png') no-repeat 0 0;
    width: 300px;
    float: right;
    margin-right: 70px;
}
.b-payment-form-message p {
    color: #2A8BB7;
    margin: 3px 0 3px 10px;
    font-size: 20px;
}
#itxMessage {
    border: none;
    resize: none;
    margin: 6px 0 0 6px;
    height: 47px;
    width: 240px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
    font-size: 12px;
    padding: 2px 4px;
    line-height: 14px;
}
.triangles-payment-top {
    position: absolute;
    left: -27px;
    top: -27px;
}
.triangles-payment-bottom {
    position: absolute;
    bottom: -35px;
    right: -40px;
}
.counter-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('img/payment/counter-btn.png') no-repeat 3px 3px;
    left: 19px;
    cursor:pointer;
}
.counter-btn-up {
    top: -20px;
    background-position: 3px 3px;
}
.counter-btn-down {
    bottom: -20px;
    background-position: 3px -15px;
}
.b-payment button {
    background: #167eac;
    background: -moz-linear-gradient(top, #167eac , #1b98d0);
    background: -webkit-linear-gradient(top, #167eac ,#1b98d0);
    background: -o-linear-gradient(top, #167eac ,#1b98d0);
    background: linear-gradient(top, #167eac ,#1b98d0);
    border: 1px solid #167EAC;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    padding: 5px 20px;
    position: absolute;
    bottom: 30px;
    right: 220px;
    text-rendering: optimizelegibility;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.b-payment button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4), 0px 0px 7px #1b98d0;
}
.b-payment button:active,
.b-payment button:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4) inset;
}

/* == video == */
.b-video {
    background: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    margin: 10px 0 75px;
    position: relative;
    text-align: center;
    padding: 55px 0 74px;
}
body.video-page {
    background: url('img/video/body-bg.png') no-repeat center top transparent;
}

/* == list == */
.b-list {
    background: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    position: relative;
}
.b-list div {
    margin: 6px 0;
    overflow: hidden;
}
.b-list ul {
    margin: 0 20px;
    position: relative;
    top: 0;
}
.b-list ul li {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dfedf4;
    border-bottom: 1px solid #dfedf4;
    background-repeat: no-repeat;
}
.b-list ul li p {
    margin: 0;
}
.b-list-el-data {
    color: #E5E5E5;
    font-size: 11px;
}
.b-list-el-message {
    color: #9E9E9E;
    font-size: 11px;
}
.b-list-el-even {
    text-align: left;
    padding-left: 105px;
    background-position: 0 -93px;
}
.b-list-el-odd {
    text-align: right;
    padding-right: 105px;
    background-position: 594px -11px;
}
.b-list-el-c3e3f5 {
    background-image: url('img/list/j-c3e3f5.png');
}
.b-list-el-f5c3c3 {
    background-image: url('img/list/j-f5c3c3.png');
}
.b-list-el-f5f5c3 {
    background-image: url('img/list/j-f5f5c3.png');
}
.b-list-el-f5e5c3 {
    background-image: url('img/list/j-f5e5c3.png');
}
.b-list-el-c3c3f5 {
    background-image: url('img/list/j-c3c3f5.png');
}
.b-list .counter-btn {
    width: 100%;
    margin-left: -19px;
    z-index: 0;
}
.b-list .counter-btn:hover {
    background-color: #eee;
}
.b-list .counter-btn-up {
    top: -2px;
    background-position: 50% 3px;
}
.b-list .counter-btn-up:hover {
    background-position: 50% 2px;
}
.b-list .counter-btn-down {
    bottom: -2px;
    background-position: 50% -15px;
}
.b-list .counter-btn-down:hover {
    background-position: 50% -16px;
}
.b-list .triangles-content-top {
    top: -17px;
    left: -22px;
    z-index: 1;
}
.b-list .triangles-content-bottom {
    bottom: -21px;
    right: -33px;
    z-index: 1;
}

/* == about_partner == */
body.about_partner-page {
    background: url("img/about_partner/body-bg.png") no-repeat center top;
}
.b-about_partner ul li {
    list-style: none;
    margin: 0 0 10px 0;
    font-size: 14px;
}
.b-about_partner ul li a {
    width: 115px;
    display: inline-block;
    text-align: center;
}
.b-about_partner ul li span {
    display: inline-block;
    width: 495px;
    vertical-align: middle;
}
.b-about_partner-title {
    position: relative;
    width: 255px;
}
.b-about_partner-title h1 {
    color: #2A8BB7;
    font-weight: normal;
    font-size: 29px;
}

/* == friends == */
body.friends-page {
    background: url('img/friends/body-bg.png') no-repeat center top;
}
.b-friends-blockquote {
    position: relative;
    margin: -17px 0 30px 0;
}
.b-friends-blockquote .triangles-content-top {
    top: -17px;
}
.b-friends-bloquite-text {
    font-size: 25px;
    font-style: italic;
    line-height: 28px;
    margin: 0;
}
.b-friends-blockquote-textauthor {
    text-align: right;
    margin: 0;
    font-size: 13px;
}
.b-friends-text {
    font-size: 13px;
}
.b-friends-text p {
    margin: 0 0 10px 0;
}
.b-friends-link {
    background: url('img/friends/triangles.png') no-repeat center bottom;
    height: 167px;
    text-align: center;
    padding: 52px 0 0 0;
}
.b-friends-link a {
    text-decoration: none;
    border: none;
    margin-left: 70px;
}
.b-friends-link-arr {
    vertical-align: middle;
    color: white;
}
.b-friends-link-text {
    width: 153px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    color: white;
    line-height: 23px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 3px;
}
.b-friends .main-words {
    font-weight: lighter;
}

/* == clearfix == */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}